<header class="site-header">

    <div class="wrapper">

        <div class="site-title-wrapper">
            <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div class="site-subtitle">{{ site.subtitle }}</div>

        <div class="site-nav-wrapper">
            <nav class="site-nav">
                <a href="#" class="menu-icon">
                    {% include palm-menu.svg %}
                </a>

                <div class="trigger">
                    {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </nav>
        </div>

    </div>

</header>
