---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d,
                %Y" }}
            </time>
            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                itemprop="name">{{ page.author }}</span></span>{% endif %}
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>


</article>


<div class="comments-pane">
    <div class="comments-info">
        <span id="refreshComments" class="icon">{% include icon-refresh.svg %}</span>
        <span id="resizeComments" class="icon">{% include icon-double-arrow-n.svg %}</span>
        <p>To add a comment plese visit related github
            <a href="https://github.com/s2lomon/s2lomon/issues/{{page.commentIssueId}}">issue</a> and add a comment there.
        </p>
    </div>
    <div id="comments">

    </div>
</div>

<script type="text/javascript" src="{{ site.baseurl | append: "/scripts/jquery-3.1.1.min.js" }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: "/scripts/date.js" }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: "/scripts/jquery-ui.min.js" }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: "/scripts/post-comments.js" }}"></script>
<script type="text/javascript">
    var issueId = {{ page.commentIssueId }};
    jQuery(window).on('load', () =>  {
        handleComments(issueId);
        prepareCommentsToogle(jQuery("#resizeComments"), jQuery("#comments"));
        prepareCommentsRefresh(jQuery("#refreshComments"), issueId);
    });
</script>


